#body{
    background-image: url(/rest.background.jpg);
    width: 100%;
    height: 700px;
    border: 1px solid black;
    font-size: 5rem;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
}
#cont{
    font-size: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(239, 199, 140);
}
#footer{
    height: 330px;
    width: 100%;
    background-image: url(/image.png);
    background-size: cover;
}